body{
    min-width: 600px;
    margin: 0;
    padding: 0;
}
body::before{
    content: "";
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/img/bg.jpg) no-repeat center center/cover;
    filter: blur(10px);
    z-index: -1;
}
.headings{
    text-align: center;
    padding: 10px;
}
.nova-square-regular {
    font-family: "Nova Square", sans-serif;
    font-style: normal;
    color: 020202;
    letter-spacing: 1px;
}
.fact_gen_head{
    font-weight: 50;
    margin-top: 3.5%;
    margin-bottom: 1%;
    font-size: 72px;
}
.sub_head_ques{
    font-weight: 0;
    font-size: 36px;
}
.container{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
    grid-gap: 50px;
    margin: 1% 12% 0 12%;
    font-size: clamp(18px, 2vw, 36px);
    
}
.container1{
    margin: 7% 12% 0 12%;
}
.items{
    cursor: grab;
    margin: 10px;
    padding: 12px;
    background-color: whitesmoke;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 4px 0px #858484;
}
.item1{
    grid-column: 1 / 3;
}
.item5{
    grid-column: 2 / 4;
}
.item9{
    grid-column: 3 / 5;
}
@keyframes upmotion {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px)
    }
    100%{
        transform: translateY(0)
    }
}
.items:hover{
    animation: upmotion 1s infinite;
    box-shadow: 3px 3px 4px 5px white;
}